# lock files
yarn.lock
package-lock.json

# compiled output

# dependencies
/node_modules
*/node_modules

*/coverage

# IDEs and editors

# files
.DS_Store
*/test
/test
*/logs
/logs
*/logs/combined.log
logger/src/logs/combined.log
logger/src/logs/error.log
*/yarn-error.log
